<button class="btn btn-dark">Search</button>

<h5>Products</h5>

<button class="btn btn-dark">Reviews</button>
<button class="btn btn-dark">Compare</button>
<button class="btn btn-dark">Link</button>

@code {

}
