@page "/aboutuspage"


@code {

}
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        margin: 0;
    }
    .divspacing{
        width: 400px;
        height: 30px;
    }
    .title{
        font-size: 2em;
        color: black;
        user-select: none;
        font-family: "Times New Roman", Times, serif;
        text-decoration: underline;
        text-align: center;
    }
    .icon-bar {
        width: 100%;
        background-color: #555;
        overflow: auto;
        margin-top:-18px
    }

        .icon-bar a {
            float: left;
            width: 20%;
            text-align: center;
            padding: 12px 0;
            transition: all 0.3s ease;
            color: white;
            font-size: 14px;
        }

            .icon-bar a:hover {
                background-color: #000;
            }

    .active {
        background-color: #04AA6D;
    }
</style>    
<body>

    <div class="icon-bar">
        <a class="active" href="/"><i class="fa fa-home"></i></a>
        <a href="https://sg.linkedin.com/"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
        <a href="https://www.google.com/gmail/about/"><i class="fa fa-envelope"></i></a>
        <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
    </div>

</body>
</html>

<div class="divspacing">
</div>
<h1 class="title">About Us</h1>

<div class="divspacing">

</div>
<h5>
    ItemInsight
</h5>
