@page "/reviewpage"

<h3>ReviewPage</h3>

<head>
    <script src="https://kit.fontawesome.com/92d70a2fd8.js" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="searchengine.css"
</head>

@code {

}
